@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }


 
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #0D9488;
  --color-secondary: #FF6F61;
  --color-base-100: #F3F4F6;
   --color-accent:#1F2937;
   --color-base-200:#4a5565;
}


@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: blue;
  --color-secondary: teal;
 
}

body{
  font-family: "Inter", sans-serif;

}


